body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#word {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

#letters {
    margin-top: 20px;
}

.letter {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.letter:hover {
    background-color: #0056b3;
}
